{
  "env": { "es6": true, "browser": true, "node": true },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "react/display-name": "off",
    "react/jsx-no-undef": "off",
    "react/jsx-no-target-blank": "off",
    "no-unused-vars": "warn"
  },
  "globals": {
    "React": "writable",
    "localStorage": true,
    "fetch": true,
    "Promise": true,
    "window": true,
    "document": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
